<p>formulario works!</p>

<form class="form" (ngSubmit)="addTweet()">
    <label for="username">Username</label>
    <input 
        type="text" 
        class="input" 
        id="username" 
        name="username"
        [(ngModel)] = "addColaborador.username"
    />
    <label for="tweet">Tweet</label>
    <textarea 
        id="tweet" 
        name="tweet"
        class="text" 
        rows="4" 
        cols="120"
        [(ngModel)] = "addTweetRequest.id"
        >
    </textarea>
    <button class="add" type="submit">Agregar</button>
</form>

<!--ESTE LE TOCA A NATALIA-->